<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />


        <title>PassCtrypt</title>

        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">


        <script src="lib/jQuery/jquery-3.2.1.js"></script>
        <script src="lib/Angular/angular.min.js"></script>
        <script src="lib/other/toastr.min.js"></script>

        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="css/toastr.css"/>
        <link rel="stylesheet" href="css/style.css"/>


        <script src="app/app.js" type="text/javascript"></script>
        <script src="app/services/values.js"></script>
        <script src="app/services/charArray.js" type="text/javascript"></script>
        <script src="app/services/crypt.js" type="text/javascript"></script>
        <script src="app/services/pages.js"></script>
        <script src="app/controllers/passCrypt.js" type="text/javascript"></script>
    </head>
    <body ng-app="passCrypt">
        <div class="container"
             ng-controller="passCrypt"
             style="margin-top: 30px;">
            <div class="row">
                <div class="col-sm-6">
                    <form name="crypt" class="container-fluid">
                        <div id="selectService" class="form-group">
                            <label for="serviceSelect" ng-hide="otherAdd">Serwis</label>
                            <div ng-hide="otherAdd">
                                <select id="serviceSelect"
                                        class="form-control"
                                        ng-click="changeField(service.name)"
                                        ng-model="service"
                                        ng-init="service = services[0]"
                                        ng-options="service.name for service in services">
                                </select>
                                <button class="btn btn-warning pull-right" ng-click="delete(service.id)">Usuń</button>
                            </div>
                            <label for="serviceInput" ng-show="otherAdd">Serwis</label>
                            <input id="serviceInput"
                                   class="form-control"
                                   type="text"
                                   ng-model="service"
                                   ng-show="otherAdd" />

                        </div>
                        <button class="btn btn-success" ng-show="otherAdd" ng-click="add(service)">Dodaj</button>
                        <button class="btn btn-warning" ng-show="otherAdd" ng-click="cancel()">Anuluj</button>
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input class="form-control"
                                   id="login"
                                   name="login"
                                   type="text"
                                   ng-model="login"
                                   required />
                        </div>
                        <div class="form-group">
                            <label for="pass">Hasło</label>
                            <input class="form-control"
                                   id="pass"
                                   name="pass"
                                   type="password"
                                   ng-model="pass"
                                   required />
                        </div>
                        <button id="generate" ng-click="generate(service, login, pass)"
                                class="btn btn-success"
                                ng-mouseover="toaster()">
                            Generuj
                        </button>
                    </form>

                </div>
                <div class="col-sm-6">
                    <form class="container-fluid">
                        <div class="form-group">
                            <label for="charDel">Usuń znaki</label>
                            <input class="form-control"
                                   id="charDel"
                                   placeholder="Rozdziel przecinkami"
                                   type="text"
                                   ng-model="charDel" />
                        </div>

                        <div class="form-group">
                            <label for="charAdd">Dodaj znaki</label>
                            <input class="form-control"
                                   id="charAdd"
                                   placeholder="Rozdziel przecinkami"
                                   type="text"
                                   ng-model="charAdd" />
                        </div>

                        <div class="text-center">
                            <div class="btn-group">
                                <button ng-click="changeArray(charAdd, charDel)"
                                        class="btn btn-success btn-xs">
                                    Zmień dozwolone znaki
                                </button>
                                <button ng-click="restore()"
                                        class="btn btn-success btn-xs">
                                    Przywróć wszystkie znaki
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <pre ng-show="output" ng-bind="output"></pre>
                </div>
                <div class="col-sm-6">
                    <h4>Znaki, które będą użyte do budowy hasła</h4>
                    <div class="alert alert-warning">
                        <p>Bądź ostrożny, nie usuwaj i nie dodwaj tych samych znaków.</p>
                        <p>Może to spowodować, że hasło generowane dwukrotnie może do siebie nie pasować.</p>
                        <p>Jeżeli chcesz przywrócić znaki uzyj<br /><code>Przywróć wszystkie znaki</code><br />i zacznij usuwać od początku</p>
                    </div>
                    <pre ng-bind="array"></pre>
                </div>
            </div>
        </div>
    </body>
</html>
